@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Custom CSS -->
    <link href="css/site.css" rel="stylesheet" />

    <!-- Framework styles -->
    <link rel="stylesheet" href="AcademicEnrollment.styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>


<body>
    <MudThemeProvider Theme="_mudTheme" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <CascadingAuthenticationState>
        <Routes @rendermode="new InteractiveServerRenderMode()" />
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>

@code {
    private readonly MudTheme _mudTheme = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#3F51B5",
            Secondary = "#F50057",
            Background = "#F5F5F5",
            AppbarBackground = "#3F51B5",
            TextPrimary = "#212121"
        },
        PaletteDark = new PaletteDark
        {
            Primary = "#161D42",
            Secondary = "#F06292",
            Background = "#121212",
            AppbarBackground = "#7986CB",
            TextPrimary = "#FFFFFF"
        }
    };

    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}